:root{
    --calculator-color-main: rgb(39, 39, 39);
    --calculator-display-color: rgb(42, 49, 35);
    --calculator-key-color: rgb(73, 65, 65);
    --theme-color1: rgb(6, 10, 10);
    --theme-color2: rgb(12, 19, 19);
    --theme-color3: white;
    --theme-link-color1: rgb(200, 200, 0);
}